footer {
  background-color: #f8d7a1;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto; /* Truco mágico para empujarlo al fondo */
}

p {
  margin: 0;
  font-weight: 500;
}