<header>
  <div class="logo">
    🍴 <a routerLink="/">Cook&Share</a>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <nav class="nav" [class.activo]="isMenuOpen()">
    <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
    <a routerLink="/catalogo" routerLinkActive="activo">Recetas</a>
    <a routerLink="/crear-receta" routerLinkActive="activo">Publicar</a>
    <a routerLink="/login" routerLinkActive="activo">Iniciar sesión</a>
    <a routerLink="/registro" routerLinkActive="activo">Registrarse</a>
    <a routerLink="/perfil" routerLinkActive="activo">Perfil</a>
    @if (isAdmin){
    <a routerLink="/admin" class="link-admin">Panel Admin</a>
    }
  </nav>
</header>